.responsible-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(6, 23, 133);
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin-top: 10px;
  margin-left: 360px;
  height: 350px;
  width: 750px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.responsible-box p {
  font-size: 18px;
  color: rgb(6, 23, 133);
  margin-bottom: 20px;
}

.responsible-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.email-box,
.message-box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

input,
textarea {
  padding: 10px;
  border: 2px solid rgb(6, 23, 133);
  border-radius: 5px;
  width: 300px;
}

textarea {
  height: 90px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(6, 23, 133);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(20, 37, 145);
}
.error-message {
  color: red; 
  margin-top: 2px; 
  margin-bottom: 10px;
}